<%= link_to("<< Back to the list", {:action=> 'index'}, :class => 'back-link') %>

<div class="section edit">
  <h2>Update section</h2>
  <%= form_for(:section, :url => {:action => 'update', :id => @section.id}) do |f| %>
      <%= render(:partial => 'form', :locals => {:f => f}) %>

      <div class="form-buttons">
        <%= submit_tag("Update section") %>
      </div>

  <% end %>

</div>

