<%= link_to("<< Back to the list", {:action => 'index'}, :class => 'back-link') %>

<div class="subject new">
  <h2>Create subject</h2>

    <%= form_for(:subject, :url => {:action => 'create'}) do |f| %>
      <%= render(:partial => 'form', :locals => {:f => f}) %>

      <div class="form-buttons">
        <%= submit_tag("Create subject") %>
      </div>
    <% end %>
</div>
